
<div>
  <div class="banner-green">
    <div class="header-description">
      <p class="page-description">Instituto Henrique$$er</p>
      <p class="header-title"> Porque riqueza é questão de escolha. Quer ficar rico? Pergunte-me como! </p>
      <a href="#" class="btn-medium" style="margin-left: 25px;">Quero ficar rico!</a>
    </div>
    <div class="logo-banner" style="background-image: url(<%= image_path('logo2.png') %>);">
    </div>
  </div>
  <div class="wrapper-black">
    <div class="container">
      <div class="row">
      <% @posts.each do |post| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to post_path(post) do %>
          <div class="card" style="background-image: url('https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7e537922f712f142b24cf9c897f0ab05&auto=format&fit=crop&w=1050&q=80');">
            <div class="card-category"> <%= post.category %></div>
            <div class="card-description">
              <!-- <p style="color:black;"><%= post.title %></p> -->
              <p style="color:black;"><%= post.title %></p>
              <!-- <p><%= post.content %></p> -->
            </div>
            <!-- <a class="card-link" href="/posts/{post.id}" ></a> -->
          </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
